/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */

/*** URLs in Markdown Editor *************************/
.cm-url {
    color: rgba(0, 44, 148, 0.5) !important;
}

.cm-link-text {
    color:rgb(0 45 148) !important;
}

/*** Code in Markdown Editor *************************/
.cm-comment.cm-jn-inline-code {
    background-color: rgb(0 0 0 / 3%) !important;
    border: none !important;
    color: rgba(0 0 0 / 75%) !important;
}

.cm-comment {
    color: rgba(0 0 0 / 20%) !important;
}

div.CodeMirror div.cm-jn-code-block-background{
    background-color: rgb(0 0 0 / 3%); 
}